*{
	padding:0px;
    margin:0px;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

#videobg{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.base{
    margin: 0px;
}

.home{
    height: 100vh;
}

.home_content{
    position: absolute;
    color: #fff;
    width: 100%;
}

.menu{
    top: 0;
    position: fixed;
    width: 100%;
    text-align: right;
    background-color: #7a7aab;
    padding: 10px;
}

.menu li{
    text-transform: uppercase;
    display: inline-block;
    padding: 7px;
}

.menu li a{
    text-decoration: none;
    color: #ffff;
}

.menu li:hover a{
    border-bottom: 2px solid #fff;
}

.herotext{
    text-align: center;
    margin: 20px;
    font-size: 100px;
    font-weight: 1000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10%;
    color: #ffffff;
}

.herotext_content{
    text-align: center;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.herotext_content2{
    margin-top: 8%;
    font-size: 25px;
    text-align: center;

}

.about{
    
    width: 1200px;
    background-color: #2d4552;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    font-size: larger;
    padding: 50px;
    color: #fff;
        
}

.about p{
    padding-top: 20px;
}

.events{
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    font-size: larger;
    background: rgba(85, 83, 83, 0.5);
    width: 1200px;
    margin-top: 50px;
}
.organ{
    
    
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    font-size: larger;
    padding: 50px;
    color: #fff;
    
    }
    .organ .card{
        position: relative;
        max-width: 300px;
        height:300px;
        background: white;
        margin: 70px 20px;
        padding: 40px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0,0,0,0.5);
        transition: 0.2s ease-in-out;
        float: left;
    }
    .organ .card:hover{
        height: 600px;
    }
    .organ .card .imgBx{
        width: 260px;
        top: -60px;
        left: 20px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0,0,0,0.2);
       border-radius: 4px;
        position: relative;
    }
    .organ .card .imgBx img{
        max-width: 100%;
        border-radius: 4px;
    }
    .organ .card .content{
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: #111;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    .organ .card:hover .content{
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s;
    }
    
.events h1{
    background-color: rgb(250, 133, 133);
}

.contact{
    width: 1200px;
    background: rgba(0, 6, 60, 0.5);
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    font-size: larger;
    margin-top: 50px;
    color: #fff;
}
.register{
    background: rgba(85, 83, 83, 0.5);
    color: #fff;  
    width: 1200px;
   
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    font-size: larger;
    margin-top: 50px;
}
.register table{
    padding-top: 20px;
}
th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding-top: 15px;
  }



body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
section{
    width: 100%;
    height: 100%;
    background-size: cover;
}
section .leftbox{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 50px;
}
section .leftbox .content{
    color: white;
    background: rgba(85, 83, 83, 0.5);
    padding: 40px;
    transition: .5s;
}
section .leftbox .content:hover{
    background: #e91e63;
}
section .leftbox .content h1{
    margin: 0;
    padding: 0;
    font-size: 40px;
}
section .leftbox .content p{
    margin: 10px 0 0;
    padding: 0;
}
.section2 .event{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(85, 83, 83, 0.5);
    box-sizing:border-box;
}
.section2 .event ul{
    font-size: medium;
    color: white;
    position: relative;
    top: 50%;
    /* transform: translate(50%); */
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}
.section2 .event ul li{
    list-style: none;
    background: rgb(66, 64, 64);
    box-sizing: border-box;
    height:100px;
    margin: 15px 0;
    /* text-align: center; */
} 
.section2 .event ul li .time{
    position: relative;
    margin: 0;
    padding: 50px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 70%;
    float: left;
    /* text-align: center; */
    transition: .5s;
}
.section2 .event ul li .detail{
    text-align: center;
    padding: 5%;
    font-size: 18px;
}
.section2 .event ul li .time h2{
    margin: 0;
    padding:0;
    font-size: 30px;
    transform:translate(-50%,-50%);
}
.section2 .event ul li .time h2 span{
    font-size: 18px;
}
.section2 .event ul li:hover .time{
    background: #e91e63;
}
.flex{
    display: flex;
}

.contact-clicks{
    display: inline-block;
    text-align: left;
}
.contact-clicks a {
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
}
.address{
    display: inline-block;
    text-align: left;
    margin-right: 150px;
    line-height: 1.4;
}
.img {
    width: 20px;
}
.contact-detials {
    margin-top: 20px
}
.copyright {
    background: rgb(66, 64, 64, 0.6);
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px
}

